.header,
.body {
  margin: 56px;
}

.header {
  display: flex;
  align-items: center;

  .navigateBack {
    display: inherit;
    align-items: inherit;
    color: var(--grey-500);
    cursor: pointer;
    user-select: none;
  }
}

.body {
  .wrapper {
    margin: 32px -12px 0;
    display: flex;

    .section {
      flex: 1;
      margin: 0 12px;

      h3 {
        color: var(--primary-500);
        font-weight: 500;
      }

      .addTask {
        padding-top: 12px;
        color: var(--primary-800);

        span {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        input {
          width: 100%;
        }
      }
    }
  }
}
